
  :host{
    font-family: montserrat !important;

  }
  .card{
    font-family: montserrat !important;
  }

  h1{
    font-family: montserrat !important;
  }
  .bg{
    padding-bottom: 2em;
    height: 100% !important;
    background-color: #FCF6EE;
    padding-bottom: 200px;
  }
  .form-check-input{
    background-color: whitesmoke;
    }
    .form-check-input:checked{
      background-color: #bd9035 !important;
      border: #bd9035;
    }

    input:focus {
      outline: none !important;
      border:1px solid #bd9035;
      box-shadow: 0em 0em 1em #bd9035;
    }
    button{
      background-color:  #1E2B31;
      color: whitesmoke;
      transition: 0.2s;
      border: 1px solid  #1E2B31;

    }
    button:hover{
      background-color: transparent;
      color:  #1E2B31;
    }

    .homeButton{
        background-color: #f8f8f8;
        color: #1E2B31;
        transition: 0.2s;
    }

    .homeButton:hover{
        background-color: #e4ebf5;
    }

    .resetPassword{
        width: 40%;
        margin: 0 auto;
    }
    button:disabled{
      background-color:  transparent;
      color: gray !important;
      transition: 0.2s;
      border: 0px solid  #1E2B31 !important;

    }
