:host {
  font-family: montserrat !important;
}
.card {
  font-family: montserrat !important;
}

h1 {
  font-family: montserrat !important;
}
.bg {
  padding-bottom: 2em;
  height: 100% !important;
  background-image:  linear-gradient(to left bottom, #184454, #416271, #67838f, #8fa4ae, #b7c7ce);

  padding-bottom: 200px;
}
.form-check-input {
  background-color: whitesmoke;
}
.form-check-input:checked {
  background-color: #CD7E2B !important;
  border: #CD7E2B;
}

input:focus {
  outline: none !important;
  border: 1px solid #CD7E2B;
  box-shadow: 0em 0em 1em #CD7E2B;
}
button {
  background-color: #1e2b31;
  color: whitesmoke;
  transition: 0.2s;
  border: 1px solid #1e2b31;
}
button:hover {
  background-color: #b7c7ce;
  color: #CD7E2B;
}

.homeButton {
  background-color: #f8f8f8;
  color: #1e2b31;
  transition: 0.2s;
}

.homeButton:hover {
  background-color: #e4ebf5;
}

.resetPassword {
  width: 60%;


}
button:disabled {
  background-color: #b7c7ce;
  margin: 2px;
  color: gray !important;
  transition: 0.2s;
  border: 1px solid #1e2b31 !important;
}
