article table, th, tr{
  border: 3px solid black;
}
.inventory{
  position: absolute;
  left:450px;
  top:150px;
}
article table tr th{
  width: 300px;
  height: 80px;
}
.danger{
  position: relative;
  left: 30px;
}
.gear{
  position: relative;
  left: 30px;
}
.service{
  position: relative;
  left: 90px;
}
.food{
  position: relative;
  left: 35px;
}
