<!DOCTYPE html>
<html lang="en">
<head>
  <title>Guest Interface</title>
  <link href="room-settings-home.component.css" rel="stylesheet">
</head>
<body>
  <article class="inventory">
    <table>
      <tr>
        <th><a href=""><img class="danger" src="../../../assets/danger.jpg"></a></th>
        <th><a href="../guest-room-menu/guest-room-menu.component.html"><img class="gear" src="../../../assets/gear.png"></a></th>
      </tr>
      <tr>
        <th><a href=""><img class="service" src="../../../assets/45428.png"></a></th>
        <th><a href=""><img class="food" src="../../../assets/food.jpg"></a></th>
      </tr>
    </table>
  </article>
</body>
</html>
