<form action="">
  <div class="container" style="margin-top:3% ; font-size: large;">
    <div class="row m-2">
      <h4>room temperature <span ngbTooltip="optimal room temperatue is around 20°C and 25°C">&#9432;</span></h4>

      <hr class="w-50">

    </div>
    <div class="row m-3">
      <div class="col-lg-5">you want to set the room temperature to automatic?</div>
      <div class="col">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="tempswitch" checked />
        </div>
      </div>
    </div>
    <div class="row m-3">
      <div class="col-lg-5">what temperature do you want? (in °C)</div>
      <div class="col">
        <div class="form-outline">
          <input type="text" id="tempvalue" class="form-control form-control-sm w-25" />
        </div>
      </div>
    </div>

    <div class="row m-2">
      <h4>room humidity <span
          ngbTooltip="According to the Environmental Protection Agency, the best indoor relative humidity falls between 30% and 50%">&#9432;</span>
      </h4>
      <hr class="w-50">
    </div>
    <div class="row m-3">
      <div class="col-lg-5">you want to set the room humidity to automatic?</div>
      <div class="col">
        <div class="form-check form-switch">
          <input class="form-check-input " type="checkbox" id="hswitch" checked />
        </div>
      </div>
    </div>
    <div class="row m-3">
      <div class="col-lg-5">what humidity do you want? (in %)</div>
      <div class="col">
        <div class="form-outline">
          <input type="text" id="hvalue" class="form-control form-control-sm w-25" />
        </div>
      </div>
    </div>

    <div class="row m-2">
      <h4>Room lighting <span ngbTooltip="each room has the same lights">&#9432;</span></h4>
      <hr class="w-50">
    </div>
    <div class="row m-3">
      <div class="col-5 col-lg-5">Bedroom</div>
      <div class="col">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="lightswitch1" />
        </div>
      </div>
    </div>
    <div class="row m-3">
      <div class="col-5 col-lg-5">Dining room</div>
      <div class="col">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="lightswitch2" />
        </div>
      </div>
    </div>
    <div class="row m-3">
      <div class="col-5 col-lg-5">living room</div>
      <div class="col">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="lightswitch3" />
        </div>
      </div>
    </div>
    <div class="row m-3">
      <div class="col-5 col-lg-5">bathroom</div>
      <div class="col">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="lightswitch4" />
        </div>
      </div>
    </div>

    <div class="row m-2">
      <h4>Water temperature<span
          ngbTooltip="most dermatologists recommend keeping the temperature at an average of 37°C to 38.3°C or no more than 41°C.">&#9432;</span>
      </h4>
      <hr class="w-50">
    </div>
    <div class="row m-3">
      <div class="col-lg-5">you want to set the water temperature to automatic?</div>
      <div class="col">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="hswitch" checked />
        </div>
      </div>
    </div>
    <div class="row m-3">
      <div class="col-lg-5">what water temperature do you want? (in %)</div>
      <div class="col">
        <div class="form-outline">
          <input type="text" id="watertempvalue" class="form-control form-control-sm w-25" />
        </div>
      </div>
    </div>
    <div class="row d-flex flex-row justify-content-center">
      <div class="col-4 d-flex flex-row justify-content-end"><button class="button btn btn-success" type="submit">Confirm modifications</button></div>
    </div>
  </div>

</form>
<div class="container d-flex flex-row justify-content-between pb-5 pt-5">

  <div class="m0"><button class="btn btn-success">&laquo; Back</button></div>
  <div><button class="btn btn-success">having a problem?</button></div>
</div>
