@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

*{
    font-family: 'Inter', sans-serif;
    font-weight:700;
    color: #1e2b31;
}

.row {
    padding: 50px;
}

.card-container{
    margin: 25px;
}

.card {
    margin: 0 auto;
    max-width: 500px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

div.card-body{
    padding: 0;
}

.titles {
    background-color: #eaddca;
    padding: 20px;
    color: #f8f8f8;
}


#reporter-data{
    font-weight:bold ;
}

.container-data{
    padding: 20px;
}

.report-container{
    color: #1E2B31;
}

img {
    width: 100%;
    height: auto;
}

h5{
    font-size: 1.5em;
    font-weight: bold;
}

h6{
    font-size: 1em;
}

@media (max-width: 400px){
    .nav-item {
        padding: 10px 5px;
    }
}

:host{
    font-size: larger !important;
}