<div class="bg">
  <div class="navboura container-fluid" style="background-color: #1E2B31;">
    <nav class="navbar navbar-light ">
      <div><img src="./../../../assets/smarthotellogo.svg" style="width: 110px; height: auto;"></div>
      <span class="navbar-brand mb-0 h1 nav-item" style="color: #f8f8f8;">Login</span>
      <div class="nav-item">
        <button routerLink="" type="button" mat-button class="bg-light">Home</button>
      </div>
    </nav>
  </div>
 
  <div class="container my-3 py-5 d-flex justify-content-center flex-column text-center"
    style="font-family: Roboto; background-color: #FCF6EE; border-radius:1em ; ">

    <div class="row d-flex justify-content-center ">
      <!-- MANAGER -->
      <div class="col-sm-9 col-md-5  mt-4 card-contain">
        <div routerLink="/managerlogin" class="card ">
          <div class="card-body">
            <img class="card-img-top" style="width: auto; height: 6em; padding-bottom: 10px;" 
              src="../../../assets/manager.svg"
              alt="manager pic">
            <h1 class="card-title">Manager</h1>
          </div>
        </div>
      </div>
      <!-- KITCHEN CHEF -->
      <div class="col-sm-9 col-md-5  mt-4 card-contain">
        <div routerLink="/kitchenlogin" class="card " >
          <div class="card-body">
            <img class="card-img-top " style="width: auto; height: 6em; padding-bottom: 10px;"
              src="../../../assets/kitchen-stove-cooking-pot-non-stick.svg" alt="manager pic">
            <h1 class="card-title">Kitchen staff</h1>

          </div>
        </div>
      </div>
      <!-- SERVANT -->
      <div class="col-sm-9 col-md-5 mt-4 card-contain">
        <div routerLink="/servantlogin" class="card" >
          <div class="card-body">
            <img class="card-img-top " style="width: auto; height: 6em; padding-bottom: 10px;" src="../../../assets/reception-bell.svg"
              alt="manager pic">
            <h1 class="card-title">Servant or Maid</h1>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
