<div class="container d-flex flex-row justify-content-between  pt-4" >

  <div class="m0"> <button  mat-raised-button w-100 type="submit" style="color: black; background-color: #B8DFD8;;">&laquo; Back</button></div>

</div>
<div class="container my-3 py-5 d-flex justify-content-center flex-column text-center" style="font-family: Roboto; background-color: #B8DFD8; border-radius:1em ;">

  <div class="row d-flex justify-content-center">
    <div class="col-sm-9 col-md-5   mt-4 ">
      <div class="card  " style="border: 0.5em solid #4C4C6D; border-radius: 1em;">
        <div class="card-body">
          <img class="card-img-top" style=" width: 10em; height: 10em;" src="../../../assets/manager.svg" alt="manager pic">
          <h1 class="card-title">Manager</h1>
        </div>
      </div>
    </div>
    <div class="col-sm-9 col-md-5  mt-4 ">
      <div class="card " style="border: 0.5em solid #4C4C6D; border-radius: 1em;">
        <div class="card-body">
          <img class="card-img-top " style=" width: 10em; height: 10em;" src="../../../assets/kitchen-stove-cooking-pot-non-stick.svg" alt="manager pic">
          <h1 class="card-title">Kitchen staff</h1>

        </div>
      </div>
    </div>
    <div class="col-sm-9 col-md-5  mt-4 ">
      <div class="card " style="border: 0.5em solid #4C4C6D; border-radius: 1em;">
        <div class="card-body">
          <img class="card-img-top " style=" width: 10em; height: 10em;" src="../../../assets/reception-bell.svg" alt="manager pic">
          <h1 class="card-title">Servant or Maid</h1>

        </div>
      </div>
    </div>
  </div>
</div>

