<div class="container pt-5 ">
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Room number</th>
            <th scope="col">cost</th>
            <th scope="col">checkout</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>30$</td>
            <td>6-30-2021</td>
            <td><button class="btn btn-primary">Room settings</button></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>30$</td>
            <td>6-30-2021</td>
            <td><button class="btn btn-primary">Room settings</button></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>30$</td>
            <td>6-30-2021</td>
            <td><button class="btn btn-primary">Room settings</button></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
