body{
	overflow-x:hidden;
}
.col:nth-of-type(1){
  position: relative;
  bottom: 15px;
}
.col:nth-of-type(2){
  position: relative;
  right: 200px;
}
.col:nth-of-type(3){
  position: relative;
  left: 200px;
}
article table, th, tr{
  border: 1px solid black;
}
.inventory{
  position: absolute;
  left:300px;
  top:150px;
}
article table tr th{
  width: 300px;
  height: 80px;
  margin-left: 20px;
}
