<!DOCTYPE html>
<html lang="en">
<head>
  <title>Guest Interface</title>
  <link href="guest-room-menu.component.css" rel="stylesheet">
</head>
<body>

  <article>
    <div class="inventory">
      <table>

        <tr>
          <th class="tabletitle">Rooms</th>
          <th class="tabletitle">Cost</th>
          <th class="tabletitle">Check-out</th>
        </tr>

        <tr>
          <th>Room #1</th>
          <th>50$</th>
          <th>6-30-2021</th>
        </tr>

        <tr>
          <th>Room #2</th>
          <th>50$</th>
          <th>6-30-2021</th>
        </tr>

        <tr>
          <th>Room #3</th>
          <th>50$</th>
          <th>6-30-2021</th>
        </tr>

        <tr>
          <th>Room #4</th>
          <th>50$</th>
          <th>6-30-2021</th>
        </tr>

        <tr>
          <th>Room #5</th>
          <th>50$</th>
          <th>6-30-2021</th>
        </tr>

      </table>
    </div>
  </article>

</body>
</html>
