body{
	overflow-x:hidden;
}
.img-fluid{
  border: 2px solid black;
}
.col:nth-of-type(1){
  position: relative;
}
.col:nth-of-type(2){
  position: relative;
  right: 200px;
}
.col:nth-of-type(3){
  position: relative;
  left: 200px;
}
article table, th, tr{
  border: 3px solid black;
}
.inventory{
  position: absolute;
  left:300px;
  top:150px;
}
article table tr th{
  width: 300px;
  height: 80px;
  text-align:center;
}
.tabletitle{
  background-color: rgb(153, 153, 153);
}
article table tr:nth-of-type(2){
  background-color: rgb(226, 226, 226);
}
article table tr:nth-of-type(3){
  background-color: rgb(248, 248, 248);
}
article table tr:nth-of-type(4){
  background-color: rgb(226, 226, 226);
}
article table tr:nth-of-type(5){
  background-color: rgb(248, 248, 248);
}
article table tr:nth-of-type(6){
  background-color: rgb(226, 226, 226);
}
