:host {
  font-family: montserrat;
  font-size: medium;
  background-color: #B7C7CE !important;
}

.body {
  background-color: #B7C7CE !important;
}

.main {
  background-color: transparent;
  width: 100%;
  padding-left: 0px;
  padding-bottom: 50px;
  padding-right: 0px;
}
.row {
  margin-right: 0px;
}
.navboura {
  background-color: #1e2b31;
}

.btn1 {
  margin: 2px;
  border-radius: 0%;
  color: #1e2b31;
  background-color: #f8f8f8;
  font-weight: bold;
  font-size: 18px;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: #f8f8f8;
  font-weight: bold;
  font-size: 25px;
}

.nav-item {
  padding: 10px 20px;
}
.checkin {
  position: relative;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.6);
  padding: 20px;
  max-width: 85%;
  background-color: #ffffff;
  border: 1px solid #1e2b31;
  margin-top: 20px;
  border-radius: 10px;
}
.checkintitle {
  
  text-align: center;
  letter-spacing: 3px;
  font-size: 3em;
  line-height: 48px;
  color: #1e2b31;
  background: linear-gradient(to right, #101619 0%, #30424b 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  padding-top: 30px;
}
.form-row .form-group {
  position: relative;
  margin: 32px 0;
}
.form-row .form-control {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 3px 0;
  border-color:#CD7E2B;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
.form-floating > .form-control {
  padding: 2rem 0.75rem;
  padding-bottom: 20px;
}
.form-floating > label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #1e2b31;
  cursor: text;
  transition: transform 0.2s ease-in-out;
}
/*.form-control:focus{
    transform: translateY(-24px);
    outline:none;
}
.label:hover{
    transform: translateY(-24px);
}
.form-control not-empty{
    transform: translateY(-24px);
}*/

.date-label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #1e2b31;
  transition: transform 0.2s ease-in-out;
  padding-left: 30px;
}
.btn-primary1 {
  background-image: linear-gradient(125deg, #30424b, #101619);
}
.btn-primary2 {
  background-image: linear-gradient(125deg, #eaddca, #e6bf84);
}
.btn-primary1,
.btn-primary2 {
  border-radius: 1rem !important;
  color: #1e2b31;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  width: 200px;
  height: 60px;
  cursor: pointer;
  margin-left: 40px;
  margin-top: 30px;
  border: 1px solid #1e2b31;
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  opacity: 0.65;
  transform: scale(0.85) translateY(-1.2rem) translateX(0.15rem);
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
button:focus,
button:checked {
  border-color: goldenrod;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075);
  outline: 0 none;
}
button:disabled {
  color: gray;
  cursor: default;
}
.previewimg {
  border: #CD7E2B  solid  0.5em !important;
  border-radius: 50%;
  width: 15em;
  height: 15em;
  margin: 2em;

}

 /* ::ng-deep .uploadedsnackbar >*{

 }
 ::ng-deep .uploadedsnackbar button {

 }
 ::ng-deep .uploadedsnackbar span {

 }
 */
 ::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: white !important;
 }

 ::ng-deep .mat-form-field-wrapper {
  padding: 0% !important;
 }
 ::ng-deep .mat-input-underline {
  /*change color of underline*/
 display: none;
 }

 ::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: CD7E2B !important;;
  display: none;
 }

 ::ng-deep .mat-form-field-label {
  /*change color of label*/
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #1e2b31;
  transition: transform 0.2s ease-in-out;


 }


 mat-datepicker-toggle {
  color: #CD7E2B !important;
 }
.und{
  display: block;
  width: 100%;

  border-radius: 3px;
  border-color:#CD7E2B;

  border-bottom: 3px solid #CD7E2B ;

}
.nextbtn:disabled{
  color: #B7C7CE !important;
  opacity: 0.5;
}
.nextbtn{
  font-size: larger;
  height: 3em;
color: #f8f8f8;
  background-color: #184454 !important ;
}
