:host{
  font-family: montserrat !important;

}
.card{
  font-family: montserrat !important;
}

h1{
  font-family: montserrat !important;
}
.bg{
  padding-bottom: 4.5em;
  height: 100% !important;
  background-image:  linear-gradient(to left bottom, #184454, #416271, #67838f, #8fa4ae, #b7c7ce);

}

.form-check-input{
  background-color: whitesmoke;
  }
  .form-check-input:checked{
    background-color: #CD7E2B !important;
    border: #CD7E2B;
  }

  input:focus {
    outline: none !important;
    border:1px solid #CD7E2B;
    box-shadow: 0em 0em 1em #CD7E2B;
  }
  button{
    background-color:  #1E2B31;
    color: whitesmoke;
    transition: 0.2s;
    border: 1px solid  #1E2B31;

  }
  button:disabled{
    background-color:  transparent;
    color: grey !important;
    transition: 0.2s;
    border: 1px solid  #1E2B31;

  }
  button:hover{
    background-color: #b7c7ce !important;
    color:  #CD7E2B;
  }
