<div class="navboura container-fluid" style="background-color: #1E2B31;;">
  <nav class="navbar navbar-light ">
    <div><img src="./../../../assets/smarthotellogo.svg" style="width: 110px; height: auto;"></div>
    <span class="navbar-brand mb-0 h1 nav-item" style="color: #f8f8f8;">Login</span>
  </nav>
</div>
<div class="bg">
  <div class="container d-flex flex-row justify-content-between  pt-4">

    <div class="m0"> <button routerLink="" mat-raised-button w-100 type="button">&laquo; Back</button></div>

  </div>
  <div class="container py-5 col-12 col-xs-11 col-sm-10 col-md-8 col-lg-8 col-xl-6" style="font-size: larger; font-family: Roboto;">
    <div class="card ">
      <div class="card-header text-center" style="background-color: #E3B04B !important; color: aliceblue; ">
        <h1> Login to your account</h1>
      </div>
      <div class="card-body" style="background-color: #F6F6F6;">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm" action="">
          <div class="container ">
            <div class="row my-2 d-flex justify-content-center">
              <div class="form-floating mb-3 d-flex flex-column ">
                <input 
                type="email" 
                class="form-control" 
                id="guestEmail" 
                placeholder="name@example.com"
                ngModel
                name="email"
                email
                required
                #email="ngModel">
                <label for="guestEmail" class="ms-4">Email address</label>
                <span style="font-size: 14px;font-weight: bold ;color: red;" *ngIf="!email.valid && email.touched" class="help-block">Please enter a valid email</span>
              </div>
            </div>

            <div class="row my-2 d-flex justify-content-center">
              <div class="form-floating d-flex flex-column ">
                <input 
                type="password" 
                class="form-control" 
                id="guestpsw" 
                placeholder="Password"
                ngModel
                name="guestpsw">
                <label for="guestpsw" class="ms-4">Password</label>
              </div>
            </div>

            <div class="row my-5 d-flex justify-content-center text-center">
              <div class=" d-flex flex-column justify-content-center ">
                <button routerLink="/roomsettings" class="submitButton" mat-raised-button w-100 type="submit">Login</button>
              </div>
            </div>

          </div>
        </form>
      </div>
      <div class="card-footer  text-center" style="background-color: #E3B04B !important; color: aliceblue;">
        <button routerLink="/passwordreset" mat-raised-button w-50 type="submit">Forgot your password?</button> or you don't have an account?
        <button routerLink="/checkin" mat-raised-button w-100 type="submit">check in</button>
      </div>
      <!-- <div class="card-footer  text-center" style="background-color: #E3B04B !important; color: aliceblue;">
        If you are a manager or a staff member login <a  routerLink="/loginroundabout" style="color: #F6F6F6;;" href="">here</a>
      </div> -->
    </div>

  </div>
</div>
