<!-- <app-home></app-home> -->
<!-- <app-check-in></app-check-in> -->
<!-- <app-food-menu></app-food-menu> -->
<!-- <app-guest-interface></app-guest-interface> -->
<!-- <app-check-in></app-check-in> -->
<!-- <app-food-menu></app-food-menu> -->
<!-- <app-guest-interface></app-guest-interface> -->
<!-- <app-room-control></app-room-control> -->
<!-- <app-servant-page></app-servant-page> -->
<!-- <app-guest-room-menu></app-guest-room-menu> -->
<!-- َ<app-staff-pages></app-staff-pages> -->
<!-- <app-manager-interface></app-manager-interface> -->
<!-- <app-kitchen-page></app-kitchen-page> -->
<!-- <app-room-services></app-room-services> -->
<!-- <app-room-settings></app-room-settings> -->
<router-outlet></router-outlet>
