.room-ctrl {
  background-color: #fcf6ee !important;
  height: 90%;
}
.Roomnumber {
  font-family: montserrat;
  font-size: xx-large;
}

.title {
  text-align: center;
  font-family: montserrat;
  font-size: larger;
 margin: 0;
}
/* ----------jebtah m room report mngment----------- */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");

* {
  font-family: open-sans;
  color: #1e2b31;
}
/* NAVBAR */

.row {
  margin-right: 0;
  margin-left: 0;
}

.navboura {
  background-color: #1e2b31;
}

.nav-item {
  padding: 10px;
}

.btn {
  margin: 2px;
  border-radius: 0%;
  color: #1e2b31;
  background-color: #f8f8f8;
  font-weight: bold;
  font-size: 18px;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: #f8f8f8;
  font-weight: bold;
  font-size: 25px;
}

.navbar {
  width: 100%;
}

/* CARDS */

.row {
  padding: 50px;
}

.card {
  width: 600px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.tblcontent {
  background-color: #f8f8f8;

  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.tblcontent *{
  text-align: center;
}

div.card-body {
  padding: 0;
}

.titles {
  background-color: #d4b78d;
  padding: 20px;
  color: #f8f8f8;
  text-align: center;
}

.container-data {
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
  color: #1e2b31;
}

.data-item {
  padding: 5px;
}

.zina {
  font-weight: bold;
}

h5 {
  font-size: 20px;
  font-weight: bold;
}

h6 {
  font-size: 16px;
  font-weight: 500;
}

.info-btn {
  background-color: #1e2b31;
  color: #f8f8f8;
  transition: 0.2s;
}

.info-btn:hover {
  background-color: #1e2b31a8;
}

@media (max-width: 360px) {
  .row {
    padding: 0px;
  }
}
