<div>

    <div class="navboura">
        <nav class="navbar navbar-light ">
            <span class="navbar-brand mb-0 h1 nav-item">Manager Page</span>
            <div class="nav-item btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">Room managment</button>
                <button type="button" class="btn btn-secondary">Reports</button>
            </div>
        </nav>
    </div>

    <div class="row d-flex">

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="titles">
                        <h5 class="card-title">Room n°0</h5>
                        <h6 class="card-text"><span id="reporter-data">Room owner: J</span>ohn Cina.</h6>
                        <h6 class="card-text"><span id="reporter-data">time sent: </span>12:25 AM</h6>
                        <h6 class="card-text"><span id="reporter-data">phone number: </span>12 345 678</h6>
                    </div>
                    
                    <div class="container-data justify-content-between">
                        <div class="report-container">
                            <div class="report-details">
                                <p>Sed eget dictum massa. Aenean tempus at augue vitae vehicula. Phasellus eu dignissim nibh. In porttitor eros
                                    orci. Aliquam erat volutpat. Praesent ullamcorper maximus tortor non sodales.</p>
                            </div>
                            <div class="report-details"></div>
                            <div class="report-details">
                                <p>Maecenas sodales eros sed odio vehicula, at fringilla ligula tempor. Vestibulum tincidunt aliquam leo, ut
                                    pharetra purus facilisis a. Fusce sollicitudin nisi in gravida molestie. Aliquam sed blandit mauris, fermentum
                                    fermentum elit. Aenean non sem in erat faucibus porttitor eu sed libero. Morbi lobortis turpis eu lacus rutrum,
                                    a volutpat nisi porta.</p>
                            </div>
                            <div class="report-details text-center" >
                                <img src="./assets/hotel-problem.png">
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="titles">
                        <h5 class="card-title">Room n°0</h5>
                        <h6 class="card-text"><span id="reporter-data">Room owner: J</span>ohn Cina.</h6>
                        <h6 class="card-text"><span id="reporter-data">time sent: </span>12:25 AM</h6>
                        <h6 class="card-text"><span id="reporter-data">phone number: </span>12 345 678</h6>
                    </div>
                    
                    <div class="container-data justify-content-between">
                        <div class="report-container">
                            <div class="report-details">
                                <p>Sed eget dictum massa. Aenean tempus at augue vitae vehicula. Phasellus eu dignissim nibh. In porttitor eros
                                    orci. Aliquam erat volutpat. Praesent ullamcorper maximus tortor non sodales.</p>
                            </div>
                            <div class="report-details"></div>
                            <div class="report-details">
                                <p>Maecenas sodales eros sed odio vehicula, at fringilla ligula tempor. Vestibulum tincidunt aliquam leo, ut
                                    pharetra purus facilisis a. Fusce sollicitudin nisi in gravida molestie. Aliquam sed blandit mauris, fermentum
                                    fermentum elit. Aenean non sem in erat faucibus porttitor eu sed libero. Morbi lobortis turpis eu lacus rutrum,
                                    a volutpat nisi porta.</p>
                            </div>
                            <div class="report-details text-center" >
                                <img src="./assets/hotel-problem.png">
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="titles">
                        <h5 class="card-title">Room n°0</h5>
                        <h6 class="card-text"><span id="reporter-data">Room owner: J</span>ohn Cina.</h6>
                        <h6 class="card-text"><span id="reporter-data">time sent: </span>12:25 AM</h6>
                        <h6 class="card-text"><span id="reporter-data">phone number: </span>12 345 678</h6>
                    </div>
                    
                    <div class="container-data justify-content-between">
                        <div class="report-container">
                            <div class="report-details">
                                <p>Sed eget dictum massa. Aenean tempus at augue vitae vehicula. Phasellus eu dignissim nibh. In porttitor eros
                                    orci. Aliquam erat volutpat. Praesent ullamcorper maximus tortor non sodales.</p>
                            </div>
                            <div class="report-details"></div>
                            <div class="report-details">
                                <p>Maecenas sodales eros sed odio vehicula, at fringilla ligula tempor. Vestibulum tincidunt aliquam leo, ut
                                    pharetra purus facilisis a. Fusce sollicitudin nisi in gravida molestie. Aliquam sed blandit mauris, fermentum
                                    fermentum elit. Aenean non sem in erat faucibus porttitor eu sed libero. Morbi lobortis turpis eu lacus rutrum,
                                    a volutpat nisi porta.</p>
                            </div>
                            <div class="report-details text-center" >
                                <img src="./assets/hotel-problem.png">
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>
