
.big-container{
    background-color: #FCF6EE;
    padding: 0px !important;
    height: 100%;
}

.navboura{
    background-color:#1E2B31;
    margin: 0px !important;
}

.btn{
    margin-right: 10px;
    border-radius: 0%;
    color: #f8f8f8;
    background-color:#1E2B31 ;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid #1E2B31;
}

.btn-check:focus+.btn, .btn:focus{
    box-shadow: none;
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #F8F8F8;
    font-weight: bold;
    font-size: 25px;
}

.nav-item{
  /* display: flex;
  flex-flow: row wrap; */
    padding: 10px 20px;
}

.active{
    background-color: #f8f8f8;
    color: #1E2B31; /*cho hethi cho*/
    border-color: #f8f8f8;
}
.center
{
  display: flex;
  justify-content: center;
}
