.navboura{
    background-color:#fff8e0;
}

.nav-item{
    padding: 10px 20px;
}

.row {
    margin: 50px;
}

.col{
    margin: 25px;
}

.card {
    margin: 0 auto;
    max-width: 500px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

div.card-body{
    padding: 0;
}

.titles {
    background-color: #ff926b;
    padding: 20px;
    color: #fff;
}

#reporter-data{
    font-weight:bold ;
}

.container-data{
    padding: 20px;
}

img {
    max-width: 460px;
    height: auto;
}

@media (max-width: 400px){
    .nav-item {
        padding: 10px 5px;
    }
}