:host{
  height: 100%;
font-family: montserrat;
font-size: large;
  padding-bottom: 20em;
  background-color: #EAE2B6 !important;
}
img{
  display: block;
  border-radius: 50%;
  height: 100px !important;
  width: 100px !important;
}
.navbar {
  background-color: #182125;
}
.room-ctrl
{

  background-color: #FCF6EE !important;
}
.profile-name ,.profile-info{
 color: #F8F8F8;
}
.a{
  margin: 0% !important;
}
.active{
  background-color: #1E2B31 !important;
}
.prev-next{
  border-color: #1E2B31;
  background-color: #1E2B31 !important;
  color: #f8F8F8;
}
