
  <nav class="navbar navbar-expand-sm sticky-top navbar-light ">
    <div class="container">
      <div class="row">
        <div class="col-6"><img src="../../assets/user-profile.svg" class="img-fluid" alt="Responsive image"
            style="width: 80%;"></div>
        <div class="col-6">
          <h3 class="profile-name">profile</h3>
          <p class="profile-info">info</p>
        </div>
      </div>
      <div class=" col-12 col-sm-5 col-md-5 col-lg-5 col-xl-4  ">
        <ul class="nav d-flex flex-row justify-content-center " style="text-align: center; font-size: large;">
          <li class="nav-item  border-1 bg-light p-1 m-1">
            <a class="nav-link " href="#" style="color: #1E2B31;">Interface</a>
          </li>
          <li class="nav-item border-1 bg-light p-1 m-1 ">
            <a class="nav-link" href="#" style="color: #1E2B31;">Log out</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid w-100 a pb-4" style="padding-top: 2%; background-color: #E3B04B;">
    <div class="row">
      <div class="col-md-12 col-lg-4 col-xl-4">
        <h3 style="text-align:center ;color:#F8F8F8;">Room#number</h3>
      </div>
      <div class="col">
        <nav class="nav nav-pills flex-column flex-sm-row" style="text-align:center; ">
          <a class="flex-sm-fill text-sm-center nav-link active" href="#" style="color: #F8F8F8;">Room control</a>
          <a class="flex-sm-fill text-sm-center nav-link" href="#" style="color: #F8F8F8;">Room security</a>
          <a class="flex-sm-fill text-sm-center nav-link" href="#" style="color: #F8F8F8;">Room services</a>
          <a class="flex-sm-fill text-sm-center nav-link " href="#" style="color: #F8F8F8;">Report</a>
        </nav>
      </div>
    </div>
  </div>

  <div class="room-ctrl pt-3">
    <app-room-control></app-room-control>
    <!-- <app-room-security></app-room-security> -->
    <!-- <app-room-services></app-room-services> -->
    <!-- <app-room-report></app-room-report> -->

    <div class="container d-flex flex-row justify-content-between pb-5 pt-4">

      <div class="m0"><button mat-button class=" prev-next">&laquo; Back</button></div>
      <div><button mat-button class=" prev-next">having a problem?</button></div>
    </div>

  </div>

