:host{
  height: 100%;
font-family: montserrat;
font-size: large;
  padding-bottom: 20em;
  background-color: #EAE2B6 !important;
}
img{
  display: block;
  border-radius: 50%;
  height: 75px !important;
  width: 75px !important;
}
.navbar {
  background-color: #182125;
}

.buttonStyle{
  margin: 3px;
  background-color: #F8F8F8;
  opacity: 0.7;
  transition: 0.3s;
  text-align: center;
  font-weight: bold;
  border-radius: 0% !important;
}

.buttonStyle:hover{
  opacity: 1;
}

.room-ctrl
{
  padding-bottom: 3em;
  background-color: #FCF6EE !important;
}
.profile-name ,.profile-info{
 color: #F8F8F8;
}
.a{
  margin: 0% !important;
}

.active{
  background-color: #eaddca !important;
  color: #1E2B31 !important;
  border-color: #eaddca;
}

.setting{
  background-color: #1E2B31;
  color: #f8f8f8;
  border: 2px solid #1E2B31;
  border-radius: 0%;
  margin: 2px;
}

.setting:hover{
  opacity: 0.8;
}
