<div>
    <div class="navboura  ">
        <nav class="navbar navbar-light ">
            <span class="navbar-brand mb-0 h1 nav-item">Manager Page</span>
            <div class="nav-item btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">Room managment</button>
                <button type="button" class="btn btn-secondary">Reports</button>
            </div>
        </nav>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <h6 class="card-text">John Cina.</h6>
                    <div class="container-data justify-content-between">
                        <div class="data-item d-inline-flex p-2">
                            <p><span id="zina">Availability: </span>available</p>
                        </div>
                        <div class="data-item d-inline-flex p-2">
                            <p><span id="zina">Availability: </span>available</p>
                        </div>
                        <div class="data-item d-inline-flex p-2">
                            <p><span id="zina">Availability: </span>available</p>
                        </div>
                        <div class="data-item d-inline-flex p-2">
                            <p><span id="zina">Availability: </span>available</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                </div>
            </div>
        </div>
    </div>
</div>