@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

*{
    font-family: 'Inter', sans-serif;
    font-weight:700;
    color: #1e2b31;
}
/* NAVBAR */

.row{
    margin-right: 0;
    margin-left: 0;
}

.navboura{
    background-color:#1E2B31;
}

.nav-item{
    padding: 10px;
}

.btn{
    margin: 2px;
    border-radius: 0%;
    color: #1E2B31;
    background-color: #f8f8f8;
    font-weight: bold;
    font-size: 18px;
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #F8F8F8;
    font-weight: bold;
    font-size: 25px;
}

.navbar{
    width: 100%;
}

/* CARDS */

.row {
    padding: 50px;
}

.card {
    width: 600px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

div.card-body{
    padding: 0;
}


.titles {
    background-color: #E3B04B;
    padding: 20px;
    color: #f8f8f8;
    text-align: center;
}

.container-data{
   flex-wrap: wrap;
   justify-content: center;
   padding: 15px;
   color: #1E2B31;
}

.data-item {
    padding: 5px;
}

.zina {
    font-weight: bold;
}

h5{
    font-size: 20px;
    font-weight: bold;
}
h6{
    font-size: 16px;
    font-weight: 500;
}
