:host{
  height: 100%;
font-family: Open Sans;
font-size: x-large;
  padding-bottom: 20em;
  background-color: #EAE2B6 !important;
}
.form-check-input{
  background-color: whitesmoke;

  }
  .form-check-input:checked{
    background-color: #477264 !important;
    border: #477264;
  }
.hover:hover{
  cursor: pointer;

}
  input:focus {
    outline: none !important;
    border:1px solid #477264;
    box-shadow: 0em 0em 1em #477264;
  }

td,th{
  text-align: center;
}
bgOpen{
  background-color: #f8f8f8;
}
