<div class="container h-100">
  <div class="row">
    <div class="col d-flex justify-content-center py-5" style="font-size: 2em;;">Door status
    </div>
    <hr>
  </div>
  <div class="row py-4 d-flex justify-content-center">
    <div class="col-8 col-sm-6 col-md-3 col-lg-2  d-flex justify-content-center hover"
      (click)="bigFun(doorOpen,doorstatus)">
      <img *ngIf="doorOpen" src="./../../../assets/padlock.svg" alt="" class="w-100 h-100">
      <img *ngIf="!doorOpen" src="./../../../assets/unlocked.svg" alt="" class="w-100 h-100">
    </div>

  </div>
  <div class="row w-100 h-100 ">
    <div class="col-12 col-sm-12 col-md-8 col-lg-4 d-flex justify-content-center w-100 h-100">
      <label style="margin-left: 1em; font-size: larger; font-family: montserrat;" for="doorswitch">
        {{doorstatus}}</label>

    </div>
  </div>

  <div class="row m-5">
    <div class="col d-flex justify-content-center py-2" style="font-size: 1.5em;margin-top:1em;;">Door Status history</div>
  </div>
  <div *ngIf="historyList.length===1; else NotEmpty" class="d-flex justify-content-center py-3"
    style="font-family: montserrat;">No Items to show </div>
  <ng-template #NotEmpty>
    <div class="d-flex flex-column align-items-center m-2" style="background-color: #FCF6EE;">
      <table class="table " >
        <thead>
          <tr>

            <th scope="col">Action</th>
            <th scope="col">Time</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hist of historyList | slice:1">
            <td>door {{hist.action}}</td>
            <td>{{hist.time}}</td>
          </tr>
        </tbody>
      </table>
      <button mat-button (click)="Clearer()">Clear Status history</button>
    </div>
  </ng-template>

</div>
