<div class="container mt-4" style="background-color: #FCF6EE; border-radius: 1em; border: 0.1em solid #E3B04B;">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="container py-2 ">
      <div class="row m-2">
        <h4>Room cleaning service</h4>

        <hr class="w-50">

      </div>
      <div class="row m-3">
        <div class="col-lg-5">do you want to clean your room</div>
        <div class="col">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="roomcleaningswitch" (change)="disable=!disable" />

          </div>
        </div>
      </div>
      <div class="row m-3">
        <div class="col-lg-3">when?</div>
        <div class="col-12 col-sm-10 col-md-6 col-lg-4 col-xl-4 d-flex flex-row ">

          <input ngModel id="cleaningDateTime" name="cleaningDateTime" class="form-control" type="datetime-local"
            placeholder="date and time" [min]="todaysDate" [disabled]="!disable" #dateTimeInput="ngModel">


        </div>
      </div>
      <div class="row d-flex flex-row justify-content-center">
        <div class="col-4 d-flex flex-row justify-content-end"><button class=" submit-button " [disabled]="!disable || dateTimeInput.value<todaysDate"
            mat-button disabled type="submit" style="background-color: #E3B04B; color: #f8f8f8;" >Send demand</button>
        </div>
      </div>
    </div>

  </form>

</div>
<div class="container py-2 mt-3" style="background-color: #FCF6EE; border-radius: 1em; border: 0.1em solid #E3B04B;">
  <div class="row m-2">
    <h4>Food service </h4>
    <hr class="w-50">
  </div>

  <div class="row d-flex flex-row m-2">
    <div class="col-12 d-flex flex-row ">visit our food menu?</div>
  </div>
  <div class="row d-flex flex-row  m-2 pt-2">
    <div class="col-12 d-flex flex-row r"><button class="button " (click)="ToFoodmenu()" mat-button type="button"
        style="background-color: #E3B04B; color: #f8f8f8;">Food menu</button></div>
  </div>
</div>
