<div class=" main container-fluid d-flex flex-column align-items-center">
  <!-- <div class="row justify-content-md-center">
    <div class="col-md-8 ">
      <h1 class="checkintitle"></h1>
    </div>
    <div class="col-md-8 ">
      <p style="text-align-last: center;"></p>
    </div>
  </div> -->
  <div class="row  d-flex flex-column align-items-center">
    <div class="col  d-flex justify-content-center">
      <h1 class="checkintitle text-center ">main info</h1>
    </div>
    <div class="col d-flex justify-content-center">
      <p class="text-center">Fill up the forms with information needed to unlock your room/s.</p>
    </div>
  </div>



  <form class="checkin container-fluid">
    <div class="form-row">
      <div class="form-group col-lg-12 form-floating mb-20">

        <input type="text" class="form-control" id="firstname" placeholder="First Name">
        <label for="firstname" class="label">First Name</label>
      </div>
      <div class="form-group col-lg-12 form-floating mb-20 ">

        <input type="text" class="form-control" id="lastname" placeholder="Last Name">
        <label for="lastname" class="label">Last Name</label>
      </div>
      <div class="form-group col-lg-12">
        <label for="birthdate" class="date-label">Birthdate</label>
        <input type="date" class="form-control" id="birthdate">
      </div>
      <div class="form-group col-lg-12 form-floating mb-20">
        <input type="tel" pattern="[0-9]{2}-[0-9]{3}-[0-9]{3}" class="form-control" id="telnumber"
          placeholder="Phone Number">
        <label for="tel_num" class="label">Phone </label>
      </div>
      <div class="form-group col-lg-12 form-floating mb-20">
        <input type="number" class="form-control" id="ID_num" placeholder="1">
        <label for="ID_num" class="label">ID /Passport </label>
      </div>
      <div class="form-group col-lg-12 form-floating mb-20">

        <input type="email" class="form-control" id="email" placeholder="name@example.com">
        <label for="email" class="label">Email Address</label>
      </div>
      <div class="form-group col-lg-12 form-floating mb-20">

        <input type="number" class="form-control" id="guestpsw" placeholder="1">
        <label for="guestpsw" class="label">Password</label>
      </div>


      <div class="form-group col-lg-12 form-floating mb-20">
        <input type="number" class="form-control" id="people_num" placeholder="1">
        <label for="people_num" class="label">No. of People</label>
      </div>

      <div class="form-group col-lg-12 form-floating mb-20">

        <input type="number" class="form-control" id="nights_num" placeholder="1">
        <label for="nights_num" class="label">No. of Nights</label>
      </div>


      <div class="col-10 col-sm-10 col-md-8 col-lg-4 col-xl-4 d-flex justify-content-end w-100">
        <button type="submit" class="btn1 btn-primary1 me-2">Submit </button>
      </div>
      <div class="col-10 col-sm-10 col-md-8 col-lg-4 col-xl-4 d-flex justify-content-end w-100">
        <button type="button" mat-button matStepperNext class="btn1 btn-primary2  me-2">Next</button>
      </div>

    </div>
  </form>

</div>
