.checkin{
    position: relative;
    box-shadow: 0 10px 30px 0 rgba(0,0,0,0.1);
    padding: 20px;
    max-width: 100%;
    margin-bottom: 100px;
}
.checkintitle{
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-size: 3em;
    line-height: 48px;
    color: #1E2B31;
    background: linear-gradient(to right, #1E2B31 0%, #E3B04B 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
   
    padding-top: 30px;
}
.form-row .form-group{
    position: relative;
    margin: 32px 0;
}
.form-row .form-control{
    display: block;
    width:100%;
    height: 36px;
    border-width:0 0 3px 0;
    border-color:#1E2B31;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    

}
.form-floating>.form-control {
    padding: 2rem .75rem;
    padding-bottom: 20px;
}
.form-floating>label {
    position:absolute;
    left:20px;
    bottom:11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #E3B04B;
    cursor: text;
    transition: transform 0.2s ease-in-out;
}
/*.form-control:focus{
    transform: translateY(-24px);
    outline:none;
}
.label:hover{
    transform: translateY(-24px);
}
.form-control not-empty{
    transform: translateY(-24px);
}*/
.label{
    position:absolute;
    left:20px;
    bottom:11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #1E2B31;
    cursor: text;
    transition: transform 0.2s ease-in-out;
}
.date-label {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #1E2B31;
    transition: transform 0.2s ease-in-out;
    padding-left: 20px;
    
}
.btn-primary{
display: inline-block;
background-image: linear-gradient(125deg, #a72879,#064497);
color:#fff;
text-transform: uppercase;
letter-spacing: 2px;
font-size: 16px;
padding: 8px 16px;
border: none;
width: 200px;
height: 60px;
cursor: pointer;
margin-left: 40px;
margin-top: 10px;
}
.btn-primary:hover{
    height: 60px;
    width: 250px;
    transform: translateX(-24px);
}
#button{
display: inline-block;
background-image: linear-gradient(125deg, #a72879,#064497);
color:#fff;
text-transform: uppercase;
letter-spacing: 2px;
font-size: 16px;
padding: 8px 16px;
border: none;
width: 200px;
height: 60px;
cursor: pointer;
margin-left: 25px;
margin-top: 30px;
}
#progressbar {
    margin-bottom: 10px;
    overflow: hidden;
    color: lightgrey;
    margin-top: 30px;
}

#progressbar .active {
    color: #1E2B31
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 33.33%;
    float: left;
    position: relative;
    font-weight: 400;
    text-align: center;
}

#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f13e"
}
#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007"
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f030"
}


#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

.progress {
    display: flex;
    height: 2rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
    margin: 0 auto 10px auto;
}
#progressbar li.active:before,
#progressbar li.active:after {
    background: #1E2B31
}



.progress-bar {
    background-color: #1E2B31
}

.fit-image {
    width: 100%;
    object-fit: cover
}
.form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
    opacity: .65;
    transform: scale(.85) translateY(-1.2rem) translateX(.15rem);
}

