<div class=" main container-fluid d-flex flex-column align-items-center">
  <!-- <div class="row justify-content-md-center">
    <div class="col-md-8 ">
      <h1 class="checkintitle"></h1>
    </div>
    <div class="col-md-8 ">
      <p style="text-align-last: center;"></p>
    </div>
  </div> -->
  <div class="row  d-flex flex-column align-items-center">
    <div class="col  d-flex justify-content-center">
      <h1 class="checkintitle text-center ">main info</h1>
    </div>
    <div class="col d-flex justify-content-center">
      <p class="text-center">Fill up the forms with information needed to unlock your room/s.</p>
    </div>
  </div>



  <form (ngSubmit)="OnSubmit(step1)" class="checkin container-fluid" #step1="ngForm"
    (keydown.enter)="handleEnterKeyPress($event)">
    <div class="form-row">
      <div class="form-group col-lg-12 form-floating mb-20">

        <input type="text" class="form-control" id="firstname" #guestFName="ngModel" name="guestFirstName"
          placeholder="First Name" ngModel required>
        <label for="firstname" class="label">First Name</label>
        <div class="alert alert-warning" *ngIf="guestFName.touched && guestFName.invalid">
          Invalid First Name
        </div>
        <div class="alert alert-secondary" *ngIf="step1.submitted && guestFName.invalid">
          this field is required
        </div>
      </div>
      <div class="form-group col-lg-12 form-floating mb-20 ">

        <input type="text" class="form-control" id="lastname" #LName="ngModel" name="guestLastname"
          placeholder="Last Name" ngModel required>
        <label for="lastname" class="label">Last Name</label>
        <div class="alert alert-warning" *ngIf="LName.invalid && LName.touched">
          Invalid Last Name
        </div>
        <div class="alert alert-secondary" *ngIf="step1.submitted && LName.invalid">
          this field is required
        </div>
      </div>
      <div class="form-group col-lg-12">
        <label for="birthdate" class="date-label">Birthdate</label>
        <input type="date" class="form-control" max="2007-12-31" placeholder="1980-01-01" #bdate="ngModel"
          id="birthdate" name="guestBirthdate" ngModel required>
        <div class="alert alert-warning" *ngIf="bdate.invalid && bdate.touched">
          birthdate is empty
        </div>
        <div class="alert alert-secondary" *ngIf="step1.submitted && bdate.invalid">
          this field is required
        </div>
      </div>
      <div class="form-group col-lg-12 form-floating mb-20">
        <input type="tel" name="guestPhoneNum" class="form-control" id="telnumber" placeholder="Phone Number" ngModel
          required #phone="ngModel">
        <label for="tel_num" class="label">Phone </label>
        <div class="alert alert-warning" *ngIf="phone.invalid && phone.touched">
          Invalid phone number
        </div>

        <div class="alert alert-secondary" *ngIf="step1.submitted && phone.invalid">
          this field is required
        </div>
      </div>
      <div class="form-group col-lg-12 form-floating mb-20">
        <input type="number" class="form-control" id="ID_num" name="guestIDorPass" #IDorPass="ngModel" placeholder="1"
          ngModel required>
        <label for="ID_num" class="label">ID /Passport </label>
        <div class="alert alert-warning" *ngIf="IDorPass.invalid && IDorPass.touched">
          Invalid ID or Pass
        </div>

        <div class="alert alert-secondary" *ngIf="step1.submitted && IDorPass.invalid">
          this field is required
        </div>
      </div>
      <div class="form-group col-lg-12 form-floating mb-20">

        <input type="email" class="form-control" id="email" name="guestEmail" #email="ngModel"
          placeholder="name@example.com" ngModel email required>
        <label for="email" class="label">Email Address</label>
        <div class="alert alert-warning" *ngIf="email.invalid && email.touched">
          Invalid email
        </div>

        <div class="alert alert-secondary" *ngIf="step1.submitted && email.invalid">
          this field is required
        </div>
      </div>
      <div class="form-group col-lg-12 form-floating mb-20">

        <input minlength="6" type="password" class="form-control" id="guestpsw" name="guestPassword" #psw="ngModel"
          placeholder="1" ngModel required>
        <label for="guestpsw" class="label">Password</label>
        <div class="alert alert-warning" *ngIf="psw.invalid && psw.touched">
          Password is atleast 6 charactes long
        </div>


        <div class="alert alert-secondary" *ngIf="step1.submitted && psw.invalid">
          this field is required
        </div>
      </div>
      <div class="form-group col-lg-12 form-floating mb-20">
        <input minlength="6" type="password" class="form-control" id="Confirmguestpsw" name="ConfirmguestPassword"
          #cpsw="ngModel" placeholder="1" ngModel required>
        <label for="Confirmguestpsw" class="label">Confirm Password</label>
        <div class="alert alert-danger" *ngIf="cpsw.value!=psw.value && cpsw.touched">
          this value doesn't match the password you entered
        </div>

        <div class="alert alert-secondary" *ngIf="step1.submitted && (cpsw.invalid || cpsw.value!=psw.value)">
          this field is required
        </div>
      </div>


      <div class="form-group col-lg-12 form-floating mb-20">
        <input type="number" class="form-control" id="people_num" name="NoOfPeople" min="1" placeholder="1" ngModel
          required #ppl="ngModel">
        <label for="people_num" class="label">No. of People</label>
        <div class="alert alert-warning" *ngIf="ppl.invalid && ppl.touched">
          Atleast 1
        </div>

        <div class="alert alert-secondary" *ngIf="step1.submitted && ppl.invalid">
          this field is required
        </div>
      </div>

      <div class="form-group col-lg-12 form-floating mb-20">

        <input type="number" class="form-control" id="nights_num" name="NoOfNights" min="1" placeholder="1" ngModel
          required #nights="ngModel">
        <label for="nights_num" class="label">No. of Nights</label>
        <div class="alert alert-warning" *ngIf="nights.invalid &&nights.touched">
          Atleast 1
        </div>

        <div class="alert alert-secondary" *ngIf="step1.submitted && nights.invalid">
          this field is required
        </div>
      </div>
      <div class="form-group col-lg-12 mb-20">
        <label for="image" class="date-label" style="margin-bottom: 10px;">Profile Picture</label>
        <input type="file" accept="image/*" (change)="onFileSelected($event)" class="form-control" name="profilePic"
          id="image" placeholder="1" ngModel>


      </div>
      <div class="alert alert-warning" *ngIf="waiting && profilePic==undefined">
        Waiting for upload....
      </div>
      <div class="alert alert-primary" *ngIf="profilePic!=undefined">
        uploaded
      </div>


      <!-- <div class="col-10 col-sm-10 col-md-8 col-lg-4 col-xl-4 d-flex justify-content-end w-100">
        <button type="submit" class="btn1 btn-primary1 me-2" >Submit </button>
      </div> -->
      <div class="col-10 col-sm-10 col-md-8 col-lg-4 col-xl-4 d-flex justify-content-end w-100">
        <button type="submit" mat-button matStepperNext [disabled]="step1.invalid || profilePic==undefined "
          class="btn1 btn-primary2  me-2">Next</button>
      </div>

    </div>
  </form>

</div>