<div class="container-fluid big-container p-0 m-0">

  <div class="navboura w-100   p-0 m-0">
    <nav class="navbar navbar-light ">
      <div><img src="./assets/smarthotellogo.svg" style="width: 110px; ;"></div>
      <span class="navbar-brand mb-0 h1 nav-item">Kitchen Page</span>
      <div class="nav-item btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn">Log out</button>

      </div>
    </nav>
  </div>
  <div class="d-flex flex-wrap pt-2 ">
    <div class=" card-container card
        col-12 col-xs-12 col-sm-10 col-md-6 col-lg-4 col-xl-4
        d-flex  justify-content-center flex-wrap " *ngFor="let foodOrder of foodOrders; let i=index;">

      <div class="card-body w-100">
        <div class="titles">
          <h5 class="card-title">Room {{foodOrder.Roomid}} </h5>
          <h6 class="card-text"><span id="reporter-data">Room owner: {{foodOrder.guestName}}</span></h6>
        </div>

        <div class="order-container d-flex">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Dish Name</th>
                <th scope="col">quantity</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="foodItem of OppaToArray(foodOrder.food) ; let j=index;">
                <td> {{OppaToArray(foodOrder.food)[j].foodname}} </td>
                <td> {{OppaToArray(foodOrder.food)[j].quantity}}</td>
              </tr>

            </tbody>
          </table>
        </div>
        <div class="d-flex align-self-end finish-button">
          <button class="btn delete-button" (click)="removerFromList(foodOrder)">Finished !</button>
        </div>

      </div>
    </div>
  </div>

</div>
