<nav class="navbar navbar-expand-sm sticky-top navbar-light bg-light ">
  <div class="container">
    <div class="row">
      <div class="col-6"><img src="../../assets/user-profile.svg" class="img-fluid" alt="Responsive image" style="width: 80%;"></div>
      <div class="col-6">
        <h3>profile</h3>
        <p>name</p>
      </div>
    </div>
    <div class=" col-12 col-sm-5 col-md-5 col-lg-5 col-xl-4  ">
      <ul class="nav d-flex flex-row justify-content-center " style="text-align: center; font-size: large;">
        <li class="nav-item">
          <a class="nav-link " href="#">Report a problem</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Log out</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<div>
<!-- <app-guest-room-menu></app-guest-room-menu> -->
<app-room-settings-home></app-room-settings-home>

</div>






