<nav class="navbar navbar-expand-sm sticky-top navbar-light navboura ">
  <div class="container">
    <div class="row p-0">
      <div class="col-4">
        <img src="{{data.Pic}}" class="img" alt="Responsive image">
      </div>
      <div class="col-6">
        <p class="profile-info">{{data.FirstName.toString()}} {{data.LastName.toString()}}</p>
      </div>
    </div>
    <div class=" col-12 col-sm-5 col-md-5 col-lg-5 col-xl-4  ">
      <ul class="nav d-flex flex-row justify-content-center " style="text-align: center; font-size: large;">
        <!-- <li class="nav-item bg-light m-2 rounded">
          <a class="nav-link " href="#">Interface</a>

        </li> -->
        <li class="nav-item m-2 styleButton">
          <a class="nav-link" style="cursor: pointer; color: #1e2b31;" (click)="loggingOut()">Log out</a>

        </li>
        <li class="nav-item m-2 styleButton">
          <a class="nav-link" style="cursor: pointer; color: #1e2b31;" [routerLink]="'/checkingout'">Check out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="big-container container-fluid">


  <div class="row d-flex justify-content-center" style="min-height: 100vh;">

    <div *ngFor="let room of rooms;let i=index"
      class="d-flex justify-content-center m-2 col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card">
        <div class="card-body">
          <div class="titles">
            <h5 class="card-title">Room n°{{room.id}}</h5>
          </div>

          <div class=" d-flex flex-column container-data justify-content-between">
            <div class="data-item d-inline-flex p-2">
              <p class="date"><span id="zina">Checkout Date:</span> {{OutDate}}</p>
            </div>
            <div class="data-item d-inline-flex justify-content-end w-100 pt-5">
              <button type="button" class="btn go-to" (click)="ToRoomSettings(room.id)">Room settings</button>
              <!-- routerLink="/roomsettings/roomcontrol" -->
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>
