
.big-container{
    background-color: #FCF6EE;
    padding: 0px !important;
    height: 100%;
}

.navboura{
    background-color:#1E2B31;
    margin: 0px !important;
}

.btn{
    margin: 2px;
    border-radius: 0%;
    color: #1E2B31;
    background-color: #f8f8f8;
    font-weight: bold;
    font-size: 18px;
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #F8F8F8;
    font-weight: bold;
    font-size: 25px;
}

.nav-item{
    padding: 10px 20px;
}