/* You can add global styles to this file, and also import other style files */
@import '~swiper/swiper-bundle';
@import url("https://use.typekit.net/zdy7agl.css");
@import url("https://use.typekit.net/zdy7agl.css");
@import url("https://use.typekit.net/zdy7agl.css");
@font-face {
  font-family: lc;
  src: url(./assets/fonts/LCALLIG.ttf) ;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  height: auto !important;}

