:host{
  display: block;
  background-color: #eaddca !important;
 padding-bottom: 10em;
  width: 100%;
  padding-left: 0px;
  padding-bottom: 50px;
  padding-right: 0px;
  font-family: montserrat;
}
.navboura{
  background-color:#1E2B31;
}
.btn{
  margin: 2px;
  border-radius: 0%;
  color: #1E2B31;
  background-color: #f8f8f8;
  font-weight: normal;
  font-size: 18px;
}
.navbar-light .navbar-brand, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: #F8F8F8;

  font-size: 25px;
}
.mat-horizontal-stepper-header {
  pointer-events: none !important;
}

.mat-step-header .mat-step-icon {
  background-color: #e3b04b;
}

.mat-step-header .mat-step-icon-selected {
  background-color: #1E2B31 !important;
}

.mat-step-header .mat-step-label.mat-step-label-active{
  color: #1E2B31;
  font-weight: bold;
}

.homeButton{
  margin: 3px;
  background-color: #F8F8F8;
  opacity: 0.7;
  transition: 0.3s;
  text-align: center;
  border-radius: 0% !important;
}

.homeButton:hover{
  opacity: 1;
}