<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 col-sm-10 col-md-8 col-lg-4 col-xl-4 d-flex justify-content-center"><button type="button" class="btn btn-primary">Home</button></div>
        <div class="col-md-8 ">
            <h1 class="checkintitle">check in</h1>
        </div>
    </div>
    <p style="text-align-last: center;">It's time to pay!</p>
    <ul id="progressbar">
        <li class="active" id="account"><strong>Main info</strong></li>
        <li class="active" id="personal"><strong>Add room</strong></li>
        <li class="active" id="payment"><strong>Payment</strong></li>
    </ul>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0"
            aria-valuemax="100">
        </div>
    </div>
    
    

    <form class="checkin container">
        <div class="form-row">

            
                <table class="table table-hover col">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Type Price</th>
                        <th scope="col">Meals Price</th>
                        <th scope="col">---</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Room 1</th>
                        <td>10</td>
                        <td>7.5</td>
                        <td>$$</td>
                      </tr>
                      <tr>
                        <th scope="row">Room 2</th>
                        <td>20</td>
                        <td>7.5</td>
                        <td>$$</td>
                      </tr>
                      <tr>
                        <th scope="row">Room 3</th>
                        <td>20</td>
                        <td>4</td>
                        <td>$$</td>
                      </tr>
                      <tr>
                        <th scope="row">your total is</th>
                        <td colspan="2" colspan="3" style="text-align: center;">$$</td>
                    </tbody>
                  </table>
            
            <!--1st ques-->
            <div class="paper-title">How do you want to pay?</div>

            <div class=" ques container">
                <div class="row">
                <div class="form-check col">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        <div class="display-box">
                            <div class="size">Mastercard</div>
                            <div ><img src="../../../assets/Mastercard.svg.png" class="img-fluid" alt="..."></div>
                        </div>
                    </label>
                </div>
                <div class="form-check col">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                        <div class="display-box">
                            <div class="size">visa</div>
                            <div ><img src="../../../assets/Visa.svg.png" class="img-fluid" alt="..."></div>
                        </div>
                    </label>
                </div>
                <div class="form-check col">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                    <label class="form-check-label" for="flexRadioDefault3">
                        <div class="display-box">
                            <div class="size">PayPal</div>
                            <div ><img src="../../../assets/PayPal.svg.png" class="img-fluid" alt="..."></div>
                        </div>
                    </label>
                </div>
                </div>
            </div>
           
        </div>
        <div class="col-10 col-sm-10 col-md-8 col-lg-4 col-xl-4 d-flex justify-content-center"><button type="submit" class="btn btn-primary">Finished!</button></div>
    </form>
</div>

