<div class="container-fluid p-0">

  <!-- FIRST SECTION -->
  <div id="gallery" class="first-sec section">
    <!-- NAVBAR -->
    <nav class="d-flex align-items-center navbar navbar-expand-lg navbar-light navabrar">

      <div class="logo">
        <a class="nav-link navbar-brand" href="#">
          <img src="./assets/smarthotellogo.svg" style="width: 110px; height: auto;">
        </a>
      </div>
      <!-- TOGGLE ICON -->
      <button mat-button-icon class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navbarContent"
        [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- NAV ITEMS -->
      <div class="collapse navbar-collapse navboura" id="navbarSupportedContent" [class.collapse]="collapsed"
        id="navbarContent">
        <ul class="navbar-nav ml-auto" style="margin: 0 auto;" justify-content-end>

          <li class="nav-item" ngbDropdown>
            <a href="#gallery" class="nav-link" role="button">
              Gallery
            </a>
          </li>

          <li class="nav-item" ngbDropdown>
            <a id="navbarDropdown2" class="nav-link" href="#services" role="button">
              Services
            </a>
          </li>

          <li class="nav-item" ngbDropdown>
            <a id="navbarDropdown2" class="nav-link" href="#offers" role="button">
              Offers
            </a>
          </li>

          <li class="nav-item" ngbDropdown>
            <a href="#testimonials" class="nav-link" role="button">
              Reviews
            </a>
          </li>

          <li class="nav-item" ngbDropdown>
            <a href="#about" class="nav-link" role="button">
              Contact
            </a>
          </li>

          <li class="nav-item" ngbDropdown style="padding:20px;">
            <div class="seperator"></div>
          </li>

          <li class="nav-item left-nav-item" ngbDropdown>
            <button mat-button routerLink="guestlogin" class="nav-link" role="button"
              style="color: #1E2B31 ;  font-family: montserrat;">
              Log In
            </button>
          </li>

          <li class="nav-item left-nav-item" ngbDropdown>
            <button mat-button routerLink="checkin" class="nav-link" role="button"
              style="color: #1E2B31; font-family: montserrat;">
              Check In
            </button>
          </li>

        </ul>
      </div>

    </nav>

    <!-- MINI FORM -->
    <div class="booking-tab" data-aos="fade-up" >

      <h1 style="font-family: lc;font-size: xx-large; font-weight: bolder;" class="mt-5">Welcome To our Website</h1>

      <form class="d-flex flex-row " (ngSubmit)="onSubmit(f)" #f="ngForm">

        <!-- <div class="booking-tab-item booking-tab-title align-middler">
          <p class="align-middle">Reservation</p>
        </div> -->

        <div class="booking-tab-item booking-tab-title d-flex align-item-center justify-content-center">
          <button role="button" class="reservation-button">Reservation</button>
        </div>

        <div class="inputs-container booking-tab-item">

          <div class="input-item form-group ">
            <label for="checkindate" class="date-label">Check-in Date</label>
            <input type="date" class="form-control" id="checkindate" placeholder="" ngModel name="checkindate">
          </div>

          <div class="input-item form-group">
            <label for="checkoutdate" class="date-label">Check-out Date</label>
            <input type="date" class="form-control" id="checkoutdate" placeholder="" ngModel name="checkoutdate">
          </div>

          <div class="input-item form-group">
            <label for="people-num" class="label">No. of People</label>
            <input type="number" class="form-control" id="peopleNum" placeholder="1" min="1" ngModel name="peopleNum">
          </div>

        </div>

        <div class="d-flex align-item-center justify-content-center ">
          <!-- <a type="submit" href="#" class="pt-2 d-flex align-item-center justify-content-center nav-link" role="button" style="color: #1E2B31">
            Book Now!
          </a> -->
          <button mat-button style="font-size:xx-large;" type="submit" routerLink="checkin"
            class="booking-tab-item booking-tab-button submit-button">Book Now</button>
        </div>

      </form>
    </div>

  </div>

  <!-- SECONG SECTION -->
  <div class="second-sec" id="services">

    <!-- CARDS -->
    <div class="container d-flex flex-column align-items-center mt-2">

      <div class="row d-flex justify-content-center ">
        <div class="card-contain col-lg-5 col-md-12 mb-4 " data-aos="fade-up">
          <div class="services-card card c card-block">
            <h1 style="font-size: x-large !important; font-family: alegreya;" class="card-title mt-3 mb-3">Our Services
            </h1>
            <p style="font-size: large; font-weight: normal;" class="card-text">Our guest comfort and satisfaction is
              our biggest priority, that's why we’re employing various methods to bring the best possible experience to
              our lovely customers, ranging from:</p>
          </div>
        </div>
      </div>

      <div class="row card-container">

        <!-- <div class="card card-contain col-md-3 col-sm-6 services-card">
          <div style="padding: 25px;">
            <h1>Our services</h1>
            <p>Nunc dui velit, mollis et nulla vel, venenatis fringilla ipsum. Integer malesuada nec lectus eu</p>
          </div>
        </div> -->

        <div class="card-contain col-md-3 col-sm-6" data-aos="fade-down-right">
          <div class="card card-block">
            <img id="card-img" src="../../assets/room-control.jpg" alt="Photo of sunset">
            <h5 class="card-title mt-3 mb-3">smart room control</h5>
            <p class="card-text">You can control your room remotely according to your preferences, changing parameters
              such as room temperature, lighting and even more! </p>
          </div>
        </div>

        <div class="card-contain col-md-3 col-sm-6" data-aos="fade-down-left">
          <div class="card card-block">
            <img id="card-img" src="../../assets/room-cleaning.jpg" alt="Photo of sunset">
            <h5 class="card-title  mt-3 mb-3">Personalized Room Service</h5>
            <p class="card-text">We’ve got amazing 24/7 room service, all accessible through our website. You can simply
              order a sweep through your room at your convenience.

              Schedule your room cleaning easily</p>
          </div>
        </div>

        <div class="card-contain col-md-3 col-sm-6" data-aos="fade-up-right">
          <div class="card card-block">
            <img id="card-img" src="../../assets/room-service.jpg" alt="Photo of sunset">
            <h5 class="card-title  mt-3 mb-3">Modern Food Service</h5>
            <p class="card-text">Pick the dishes and get them delivered to your room whenever you want! </p>
          </div>
        </div>

        <div class="card-contain col-md-3 col-sm-6" data-aos="fade-up-left">
          <div class="card card-block">
            <img id="card-img" src="../../assets/room-security.jpg" alt="Photo of sunset">
            <h5 class="card-title  mt-3 mb-3">Enhanced privacy and security</h5>
            <p class="card-text">Remote door lock and smart alarming system. </p>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- THIRD SECTION -->

  <div class="third-sec" id="offers">
    <!-- OFFERS INTRO -->
    <div class=" offers-intro col-lg-4 col-md-12 mb-4" data-aos="zoom-out-up">
      <div style="text-align: center;" class="card0 h-100">
        <h1 style="text-transform: uppercase;">Our Offers</h1>
        <p>Our hotel provides special budget friendly Offers for your Holidays, starting from 15$ per night!</p>
      </div>
    </div>
    <!-- PRICING CARDS -->
    <div class="container d-flex justify-content-center p-5 flex-column">
      <div class="row d-flex justify-content-center ">

        <div class="col-lg-4 col-md-10 mb-4" data-aos="fade-right"
        data-aos-offset="200"
        data-aos-easing="ease-in-sine">
          <div class="cardOne h-100">
            <div class="card-body">

              <h5 class="card-title">Normal Room </h5>
              <small class='text-muted'>3 people per room </small>
              <br><br>
              <span class="h2">$90</span>/night
              <br><br>
              <div class="d-grid my-3">
                <button routerLink="checkin" class="btn btn-outline-dark btn-block">Check in Now!</button>
              </div>
              <p>These cabanas are either individual bungalows or individual rooms on the upper level of a two-unit,
                two-level casita with unique high-rise thatched palapa roofs. Deluxe Garden View Palapa rooms are only
                18.5 meters from the beach. </p>
            </div>


          </div>
        </div>

        <div class="col-lg-4 col-md-10 mb-4" >
          <div class="card1 h-100" data-aos="fade-right"
          data-aos-offset="200"
          data-aos-delay="200"
          data-aos-easing="ease-in-sine">
            <div class="card-body">

              <h5 class="card-title">Ground Floor room</h5>
              <small class='text-muted'>3 people per room</small>
              <br><br>
              <span class="h2">$120</span>/night
              <br><br>
              <div class="d-grid my-3">
                <button routerLink="checkin" class="btn btn-outline-dark btn-block">Check in Now!</button>
              </div>
              <p>The cabanas in the Deluxe Garden View section are the most quiet, secluded and relaxing guestrooms,
                located on the first level. These rooms are within 27.8 meters of the beach and are only steps away from
                the pool. Lush green gardens and a beautiful Mexican fountain decorate the surrounding area. </p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-10 mb-4" data-aos="fade-right"
        data-aos-offset="200"
        data-aos-delay="400"
        data-aos-easing="ease-in-sine">
          <div class="card2 h-100">
            <div class="card-body">

              <h5 class="card-title">Sea view room </h5>
              <small class='text-muted' style="color: #f8f8f8 !important;">3 people per room</small>
              <br><br>
              <span class="h2">$150</span>/night
              <br><br>
              <div class="d-grid my-3">
                <button routerLink="checkin" class="btn btn-outline-dark btn-block">Check in Now!</button>
              </div>
              <p>Deluxe Sea View rooms offer open spaces accomplishing harmony and relaxation on the lower level of a
                two-story casita. Luxury Mexican decor and art is brought in detail; silk “rebozos” (shawls) from
                Michoacán state add beauty to the two queen size or a king-size bed, and pottery from Oaxaca bring a
                colorful touch to the room. </p>
            </div>

          </div>
        </div>

      </div>
      <div class="row d-flex justify-content-center " data-aos="zoom-out">
        <div class="col-12 col-sm-12 col-md-11 col-lg-8 col-xl-8 mb-4">
          <div class=" card card3 h-100">
            <div class="card-body">

              <h5 class="card-title">Ground floor with Sea view room </h5>
              <small class='text-muted' style="color: white !important;">4 people per room</small>
              <br><br>
              <span class="h2">$180</span>/night
              <br><br>
              <div class="d-grid my-3">
                <button routerLink="checkin" class="btn btn-outline-dark btn-block">Check in Now!</button>
              </div>
              <p>Enjoy direct, unobscured views of the Ras Angela, 10 steps from the water while when staying in our Sea
                Front Casita. Listen to sounds of the waves from your terrace, relax in a hammock, and take a dip in
                your personal plunge pool or stroll along the white sand beach. Inspired by the Mayan style of thatched
                roof palapas, this spacious casita evokes all of your senses. </p>
            </div>


          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- FOURTH SECTION -->
  <div class="fourth-sec">
    <div class="map-container">

      <div class="map-intro">
        <h1 data-aos="fade-right" data-aos-offset="100"
        data-aos-easing="ease-in-sine" >Location ?</h1>
        <h2 data-aos="fade-right"
        data-aos-offset="100"
        data-aos-delay="100"
        data-aos-easing="ease-in-sine">located on the edge of the forest, 500 m from the center of Montana offers all modern comforts.
          Cross-country ski slopes, a soccer field and paintball field are all within 100 m from the hotel.
          Couples in particular like the location – they rated it 8.3 for a two-person trip </h2>
      </div>
      <div class="map d-flex justify-content-center" data-aos="fade-left"
      data-aos-offset="100"
      data-aos-delay="200"
      data-aos-easing="ease-in-sine">
        <div id="map">
          <div class="mapouter">
            <div class="gmap_canvas">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d51081.3252002071!2d10.204864!3d36.852466!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3033efc96ad1e416!2sMentorNations!5e0!3m2!1sen!2sus!4v1625321977149!5m2!1sen!2sus"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

  <!-- FIFTH SECTION -->
  <div class="pb-5 container-fluid fifth-sec d-flex flex-column justify-content-center align-items-center"
    id="testimonials">

    <div class="row testimonial-heading d-flex justify-content-center" data-aos="flip-up">
      <h2>Testimonials</h2>
      <h1>Get To Know Us</h1>
    </div>


    <div class="row  d-flex justify-content-center flex-wrap w-100" data-aos="zoom-in-up">
      <swiper style="z-index: -1 !important;" [spaceBetween]="30" [centeredSlides]="true" [autoplay]="{
        delay: 3000,
        disableOnInteraction: false
      }">
        <ng-template class="d-flex justify-content-center" swiperSlide *ngFor="let person of persons ; let i=index">
          <div class="col-11 col-xs-11 col-sm-10 col-md-6 col-lg-4 col-xl-4 d-flex justify-content-center ">
            <div class="testimonial-card card d-flex flex-column justify-content-center align-items-center "
              style="width: 100%; height: fit-content;">
              <img class="card-img-top p-3 " src="{{person.pic}}" alt="Card image cap"
                style="border-radius:50% ; width: 200px;">
              <div class="card-body d-flex flex-column align-items-center w-100">
                <h5 class="card-title">{{person.name}}</h5>
                <p class="card-text w-100">{{person.text}}</p>
              </div>
            </div>
          </div>
        </ng-template>
      </swiper>




    </div>

  </div>

  <!-- FOOTER -->

  <div class="foot w-100 container-fluid m-0 pb-0 mb-0 justify-content-center text-light " >
    <footer id="about" >
      <div class="row my-5 justify-content-center py-5">
        <div class="col-11">
          <div class="row ">
            <div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a" data-aos="fade-right">
              <img style="height: 75px; width: auto; margin: 20px;" src="./assets/smarthotellogo.svg">
            </div>
            <div class="col-xl-2 col-md-4 col-sm-4 col-12" data-aos="fade-left">
              <h6 class="footer-style mb-3 mb-lg-4 bold-text "><b>MENU</b></h6>
              <ul class="list-unstyled">
                <li class="footer-style">Home</li>
                <li class="footer-style">About</li>
                <li class="footer-style">Blog</li>
                <li class="footer-style">Portfolio</li>
              </ul>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-4 col-12" data-aos="fade-left" data-aos-delay="100">
              <h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b class="footer-style">ADDRESS</b></h6>
              <p class="footer-style mb-1" style="text-transform: uppercase;">22 Rue de l'artisanat</p>
              <p class="footer-style">ARIANA 2025, TUNISIA</p>
            </div>
          </div>
          <div class="row ">
            <div class="col-xl-8 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end" data-aos="fade-right" data-aos-delay="100">
              <p class="social text-muted mb-0 pb-0 bold-text">
                <span class="mx-2">
                  <img class="sm" src="../../assets/facebook-logo.svg">
                </span>
                <span class="mx-2">
                  <img class="sm" src="../../assets/linkedin.svg">
                </span>
                <span class="mx-2">
                  <img class="sm" src="../../assets/twitter.svg">
                </span>
                <span class="mx-2">
                  <img class="sm" src="../../assets/instagram.svg">
                </span>
              </p>
              <small class="footer-style rights">
                <span style="font-size: 15px;">&#174;</span>
                SmartHotel All Rights Reserved.
              </small>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end " data-aos="fade-left" data-aos-delay="100">
              <h6 class="footer-style mt-55 mt-2 text-muted bold-text">
                <b>ANIRUDH SINGLA</b>
              </h6>
              <small class="footer-style">
                <span>
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
                anirudh.smarthotel@gmail.com
              </small>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-2 align-self-end mt-3 " data-aos="fade-left" data-aos-delay="100">
              <h6 class="text-muted bold-text">
                <b class="footer-style">RISHABH SHEKHAR</b>
              </h6>
              <small class="footer-style">
                <span>
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
                rishab.smarthotel@gmail.com
              </small>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>


</div>
