@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url("https://use.typekit.net/zdy7agl.css ");

/* BODY */
*{
  font-family: alegreya;
  font-weight: bold;
}

.section{
    margin: 0;
    height: 100vh;
}

.container-fluid {
    overflow: hidden;
}

/* FIRST SECTION */

/* BACKGROUND IMAGES */
.first-sec{
    background-image: url(../../assets/bg-1.jpg);
    /* top: 0; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 5s;

    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}

@keyframes animate{
  0%{
    background-image: url(../../assets/bg-2.jpg);
  }
  20%{
    background-image: url(../../assets/bg-3.jpg);
  }
  40%{
    background-image: url(../../assets/bg-4.jpg);
  }
  60%{
    background-image: url(../../assets/bg-5.jpg);
  }
  80%{
    background-image: url(../../assets/bg-6.jpg);
  }
  100%{
    background-image: url(../../assets/bg-1.jpg);
  }
}

/* MINI FORM */

.booking-tab{
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   align-content: center;

  position: absolute;
  bottom: 0;
  background-color: #fcf6ee61;
  color: #1E2B31;
  font-weight: bold;
  font-size: 25px;

}

.inputs-container{
  display: flex;
  justify-content: center;
}

.booking-tab-item, .input-item{
  padding: 0.25em 1em 1em 1em;
}

.booking-tab-title, .booking-tab-button{
  color: #1E2B31;
  font-weight: bold;
  font-size: 30px;
  font-family: alegreya;
  vertical-align: center !important;
  transition: 1000ms;
}

label{
  padding: 3px;
}

input{
  background-color: transparent;
  border: none;
  border-radius: 0%;
  border-bottom: #182125 solid 2.5px;
  transition: 0.3s;
}

input:hover, input:focus {
  background-color: #f8f8f86c;
  box-shadow: none;
  border: none;
  border-bottom: #262626 2.5px solid;
}

.booking-tab-button:hover, .booking-tab-button:focus{
  background-color:  #fcf6eea4;
  /* -webkit-transition:  */
}

.submit-button, .reservation-button{
  background-color: transparent;
  border: none;
}

/* NAVBAR */

nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.navbar-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
}

.navabrar{
    background-color: #1E2B31;
}

.nav-item{
    font-size: 15px;
    text-transform: uppercase;
    padding: 0 7px;
    text-align: center;
    flex-grow: 1;
    flex-basis: 100%;
}

.navbar-light .navbar-nav .nav-link{
    color: rgba(255, 255, 255, 0.671)
}

.navbar-light .navbar-toggler-icon{
  background-image: url(../../assets/dropdown.svg);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: #f8f8f8;
}

li.nav-link{
  font-family: lucida calligraphy !important;
  text-transform: capitalize;
}

.left-nav-item{
  margin: 3px;
  background-color: #F8F8F8;
  opacity: 0.7;
  transition: 0.3s;
  text-align: center;
}

.left-nav-item:hover{
  opacity: 1;
}

/* SECOND SECTION */

.second-sec{
    padding: 50px 0px;
    background-color: #eaddca;
    background-size: 500px;
}

.services-card {
    background-color: #532E1C !important;
    color: #F8F8F8;
    border-radius: 0%;
}


/* CARDS */
#card-img {
    height: auto;
    width: 100%;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

  div [class^="col-"]{
    padding-left:5px;
    padding-right:5px;
  }

  .card{
    transition:0.5s;
    cursor:pointer;
    margin: 15px;
    height: 450px;
    width: auto;
  }

  .c{
    height: auto !important;
    width: 100% !important;
    margin: 0;
    text-align: center;
  }

  .card-contain{
    width: 400px;
  }

  .card-title{
    text-transform: uppercase !important;
    font-size: larger;
    transition:1s;
    cursor:pointer;
    padding: 25px 25px 0px;
  }

  .card:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
  }

  .card-text{
    padding: 25px 25px 50px;
  }

  .card::before, .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
  }

  .card::before {
    transform-origin: left top;
  }

  .card::after {
    transform-origin: right bottom;
  }

  .card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform: scale3d(1, 1, 1);
  }

  /* THIRD SECTION */
.third-sec{
    padding: 50px 0px;
}

.offers-intro{
    margin: 0 auto;
    width: 400px;
    height: auto;
    padding: 15px 30px;
    color: #8e8484;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
  /* PRICING CARDS */
.cardOne{
  background-color: #e6ccb2;
}

.card1{
    background-color: #ddb892;
}

.card2{
    background-color: #b08968;
}

.card3{
    background-color: #a9714c;
    color: #f8f8f8;
    height: 100%!important;
    margin: 0;
}

/* FOURTH SECTION */

.fourth-sec{
    background-color: #1E2B31;
    padding: 50px;
    height: fit-content;
    color: #F8F8F8;
}

.map-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.map-intro{
    flex-grow: 1;
    width: 30%;
}

.map-intro>h1{
  font-family: alegreya;
  color: #ffaf00;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 20px;
}

.map-intro>h2{
  font-family: alegreya;
  font-size: 27px;
}

.map{
    flex-grow: 2;
}

/* FIFTH SECTION */

 .testimonial-heading{
  padding: 30px 0;
  text-align: center;
}

.testimonial-heading>h1,.testimonial-heading>h2{
  font-family: alegreya;
  font-weight: bold;
}

.testimonial-heading>h1{
  font-size: 40px;
}

.testimonial-card{
  background-color: #FCF6EE;
  border: 2px #fdf3e6 solid;
  border-radius: 2%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

/*
#testimonial-pic{
  z-index: -1 !important;
  width: 150px;
  height: auto;
  border-radius: 50%;
}

.testimonial-name, .testimonial-speech{
  text-align: center;
}

.testimonial-item{
  border: 2px #1E2B31 solid;
  border-radius: 2%;
  margin: 20px 0;
   width: 90%;
}
*/

/* FOOTER */


.foot {
  overflow: hidden;
  background: #262626;
  color: #627482 !important;

  margin-bottom: 0;
  padding-bottom: 0
}

small {
  font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
}

.bold-text {
  color: #989c9e !important
}

h3 {
  font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
}

.rights {
  font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
}

.footer-style:hover{
  text-decoration: underline;
}

.sm{
  height: 20px;
  width: auto;
  cursor: pointer;
}

/* MEDIA QUERRIES */

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}

@media (max-width: 490px){
    .offers-intro, .services-card {
        width: 320px;
    }
}

@media (max-width: 400px){
    .offers-intro, .services-card {
        width: 270px;
    }
}

@media (max-width: 1108px){
  .booking-tab{
    display: none;
  }
}

@media (max-width: 957px){
  .map-intro{
    text-align: center;
    margin-bottom: 50px;
  }

}
