:host{
  font-family: open sans;
background-color: #f8f8f8 !important;
height: auto !important;

}
a:hover{
cursor: pointer !important;
}
.Welcome{
  text-align: center;
 font-family: lc;
font-style: italic;
font-weight: bold;
font-size: xx-large;
color: #FDFAF6;
}
.titles{
  font-family: alegreya ;
  font-size: 2.5em;
}

th, td , .list, .form-check{
  text-align: center;
  font-family: montserrat;
  font-size: large;
}

.styleButton{
    margin: 3px;
    background-color: #F8F8F8;
    opacity: 0.7;
    transition: 0.3s;
    text-align: center;
    font-weight: bold;
    border-radius: 0% !important;
  }
  
  .styleButton:hover{
    opacity: 1;
  }

  .buttonContent{
    margin: 0 auto;
    padding: 0px;
    text-align: center;
  }