body{
	overflow-x:hidden;
}
.img-fluid{
  border: 2px solid black;
}
.col:nth-of-type(1){
  position: relative;
}
.col:nth-of-type(2){
  position: relative;
  right: 200px;
}
.nav-link{
  position: relative;
  left:80px;
}
article{
  border: 2px solid rgb(235, 235, 235);
  background-color:rgb(235, 235, 235);
  position: absolute;
  top: 200px;
  left: 18%;
  border-radius: 5px 5px 5px 5px;
	box-sizing: content-box;
	width: 1000px;
	height:1000px;
}
article header h5{
  position: relative;
  top: 50px;
  text-align: center;
  color: black;
  font-size: 45px;
}
.MultiCarousel {
  float: left;
  overflow: hidden;
  padding: 15px;
  width: 100%;
  position:relative;
}
.MultiCarousel .MultiCarousel-inner {
  transition: 1s ease all;
  float: left;
  position: relative;
  left: 85px;
}
.MultiCarousel .MultiCarousel-inner .item {
  float: left;
}
.MultiCarousel .MultiCarousel-inner .item > div {
  text-align: center;
  padding:10px;
  margin:10px;
  background:#f1f1f1;
  color:#666;
}
.MultiCarousel .leftLst, .MultiCarousel .rightLst {
  position:absolute;
  border-radius:50%;
  top:calc(50% - 20px);
}
.MultiCarousel .leftLst {
  left:0;
}
.MultiCarousel .rightLst {
  right:0;
}
.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over {
  pointer-events: none;
  background:#ccc;
}
.container{
  position: relative;
  top: 150px;
}
