<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hotel Food</title>
</head>
<body>
  <header class="navbar navbar-expand-sm sticky-top navbar-light bg-light">
    <div class="container">
      <div class="row">
        <div class="col">
          <img src="../../assets/pfpdefault.png" class="img-fluid" alt="Responsive image" style="width: 25%;">
        </div>
        <div class="col">
          <h3>Profile</h3>
          <p>Name</p>
        </div>
      </div>

      <div class="col ">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar1">
        <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="col">
        <div class="collapse navbar-collapse" id="navbar1">
          <ul class="navbar-nav" style="font-size: x-large;">
            <li class="nav-item active">
              <a class="nav-link" href="/src/app/guest-interface/room-settings-home/room-settings-home.component.html">Interface</a>
            </li>
            <li class="nav-itema">
              <a class="nav-link" href="#">Log out</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr>
  </header>
  <article>
    <header>
      <h5>Food Menu</h5>
    </header>
  </article>
  <footer>

  </footer>
</body>
</html>
