<nav class="navbar navbar-expand-sm sticky-top navbar-light w-100 " style="background-color: #1E2B31;">
  <div class="container">
    <div class="row">
      <div class="col-6"><img src="../../assets/user-profile.svg" class="img-fluid" alt="Responsive image"
          style="width: 80%;"></div>
      <div class="col-6">
        <h3 style="font-size: larger; color: #f8f8f8;">profile</h3>
        <p style="font-size: larger; color: #f8f8f8;">name</p>
      </div>
    </div>
    <div class=" col-12 col-sm-5 col-md-5 col-lg-5 col-xl-4 pt-1 ">
      <ul class="nav d-flex flex-row justify-content-center " style="text-align: center; font-size: large; ">
        <li class="nav-item pe-2">
          <a class="btn-light nav-link m-2"  (click)="ToInterface()" style="color: #1E2B31 !important;">Interface</a>
        </li>
        <li class="nav-item">
          <a class="btn-light nav-link m-2" (click)="onLogout()" style="color: #1E2B31 !important;">Log out</a>
        </li>
        <li class="nav-item ps-2">

          <a class="btn-light nav-link m-2" href="#your-list"
            style="font-family:Open sans;color: #fae5c6 !important;">Your
            list</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<div class="d-flex flex-column justify-content-center align-items-center Welcomebig py-5"
  style="background-color: #eaddca;">
  <img src="../../assets/underlinespecialreversedgrey.svg" class="w-75 pt-5">
  <h1 class="Welcome mt-1">Welcome to our Food menu !</h1>
  <h2 class="Welcome mb-1">Bon appetit! </h2>
  <img src="../../assets/underlinespecialgrey.svg" class="w-50 pb-5">
</div>
<div class="container-fluid px-4 " style="background-color: #f8f8f8 !important;">
  <div class=" d-flex flex-column align-items-center pt-4">
    <h2 class="titles">Breakfast</h2>
    <img class="w-25 " src="../../assets/underlinespecial.svg">
  </div>
  <hr>
  <swiper [navigation]="true" class="mySwiper">
    <ng-template swiperSlide *ngFor="let break of breakfast; let i=index">
      <div class="container d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="./../../assets/food/breakfast/{{break.pic}}.jpg" alt="Card image cap">
          <div class="card-body d-flex flex-column align-items-center ">
            <h1 class="card-title">{{break.name}}</h1>
            <input type="" class="btn-check" id="{{break.name}}" autocomplete="off" (click)="onChecked(break)">
            <label class="btn btn-primary w-100" for="{{break.name}}">{{break.label}}</label>

          </div>
        </div>
      </div>


    </ng-template>
  </swiper>
  <hr>


  <div class=" d-flex flex-column align-items-center ">
    <h2 class="titles">Drinks</h2>
    <img class="w-25 " src="../../assets/underlinespecial.svg">
  </div>
  <hr>


  <swiper [navigation]="true" class="mySwiper">
    <ng-template swiperSlide *ngFor="let drink of drinks; let i=index">
      <div class="container d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="./../../assets/food/drinks/{{drink.pic}}.jpg" alt="Card image cap">
          <div class="card-body d-flex flex-column align-items-center ">
            <h1 class="card-title">{{drink.name}}</h1>
            <input type="" class="btn-check" id="{{drink.name}}" autocomplete="off" (click)="onChecked(drink)">
            <label class="btn btn-primary w-100" for="{{drink.name}}">{{drink.label}}</label>

          </div>
        </div>
      </div>


    </ng-template>
  </swiper>
  <hr>
  <div class=" d-flex flex-column align-items-center ">
    <h2 class="titles">Lunch</h2>
    <img class="w-25 " src="../../assets/underlinespecial.svg">
  </div>
  <hr>

  <swiper [navigation]="true" class="mySwiper">
    <ng-template swiperSlide *ngFor="let lun of lunch; let i=index">
      <div class="container d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="./../../assets/food/lunch/{{lun.pic}}.jpg" alt="Card image cap">
          <div class="card-body d-flex flex-column align-items-center ">
            <h1 class="card-title">{{lun.name}}</h1>
            <input type="" class="btn-check" id="{{lun.name}}" autocomplete="off" (click)="onChecked(lun)">
            <label class="btn btn-primary w-100" for="{{lun.name}}">{{lun.label}}</label>

          </div>
        </div>
      </div>

    </ng-template>
  </swiper>
  <hr>
  <div class=" d-flex flex-column align-items-center ">
    <h2 class="titles">Dinner</h2>
    <img class="w-25 " src="../../assets/underlinespecial.svg">
  </div>
  <hr>
  <swiper [navigation]="true" class="mySwiper">
    <ng-template swiperSlide *ngFor="let di of dinner; let i=index">
      <div class="container d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="./../../assets/food/dinner/{{di.pic}}.jpg" alt="Card image cap">
          <div class="card-body d-flex flex-column align-items-center ">
            <h1 class="card-title">{{di.name}}</h1>
            <input type="" class="btn-check" id="{{di.name}}" autocomplete="off" (click)="onChecked(di)">
            <label class="btn btn-primary w-100" for="{{di.name}}">{{di.label}}</label>

          </div>
        </div>
      </div>
    </ng-template>
  </swiper>
  <hr>
  <div class=" d-flex flex-column align-items-center ">
    <h2 class="titles">Snacks</h2>
    <img class="w-25 " src="../../assets/underlinespecial.svg">
  </div>
  <hr>

  <swiper [navigation]="true" class="mySwiper">
    <ng-template swiperSlide *ngFor="let snack of snacks; let i=index">
      <div class="container d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="./../../assets/food/snacks/{{snack.pic}}.jpg" alt="Card image cap">
          <div class="card-body d-flex flex-column align-items-center ">
            <h1 class="card-title">{{snack.name}}</h1>
            <input type="" class="btn-check" id="{{snack.name}}" autocomplete="off" (click)="onChecked(snack)">
            <label class="btn btn-primary w-100" for="{{snack.name}}">{{snack.label}}</label>

          </div>
        </div>
      </div>

    </ng-template>
  </swiper>
  <hr>
</div>


<div class="container-fluid pt-5 d-flex flex-column align-items-center" style="background-color: #eaddca;">




  <div class="pt-5 d-flex flex-column align-items-center">
    <div class="row  pt-3">
      <div id="your-list" class="col Welcome"> Your List</div>
    </div>
    <img class="w-75 pb-5 " src="../../assets/underlinespecialgrey.svg">

    <div class="row w-100 pb-5" *ngIf="list.length==0; else notempty">
      <div class="col list">No items selected</div>
    </div>
    <ng-template #notempty>
      <div class="row w-100">
        <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-8">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Item</th>
                <th scope="col">Quantity</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let listItem of list ; let i =index">
                <th>{{i+1}}</th>
                <td scope="col">{{listItem.foodName}}</td>
                <td class="d-flex justify-content-center"><input type="number" class="form-control w-50" min="1"
                    [defaultValue]="1" id="{{listItem.foodName}}" [(ngModel)]="listItem.quantity">
                </td>
                <td><button type="button" mat-button class="w-100 list px-1 m-0 btn-light"
                    (click)="removerFromList(listItem)">Remove</button></td>
              </tr>
            </tbody>
          </table>
          <div class="col  pt-2 pb-5 d-flex justify-content-center">
            <mat-checkbox color="Warn" style="font-size: larger;" [checked]="toRoom" (change)="toRoom=!toRoom">Do you want your order delivered to
              your room?</mat-checkbox>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-10 col-lg-4 col-xl-4 d-flex justify-content-center align-items-center pt-3">
          <button type="button" mat-button class="list mb-5"
            style="background-color: #1E2B31; color: #f8f8f8!important;" (click)="onSend()">Send
            List</button>
        </div>
      </div>
    </ng-template>
  </div>
</div>
