<nav class="navbar navbar-expand-sm sticky-top navbar-light bg-light">
  <div class="container">
    <div class="row">
      <div class="col-6"><img src="../../assets/user-profile.svg" class="img-fluid" alt="Responsive image"
          style="width: 80%;"></div>
      <div class="col-6">
        <h3>profile</h3>
        <p>name</p>
      </div>
    </div>
    <div class=" col-12 col-sm-5 col-md-5 col-lg-5 col-xl-4  ">
      <ul class="nav d-flex flex-row justify-content-center " style="text-align: center; font-size: large;">
        <li class="nav-item">
          <a class="nav-link " href="#">Interface</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Log out</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<div class="d-flex flex-column justify-content-center align-items-center">
  <h1>Welcome to our Food menu !</h1>
  <h3>bon appetit!</h3>
</div>
<div class="row">
  <h2>Breakfast</h2>
  <hr>
</div>
<div class="container mt-1">


    <carousel  class="">
      <div class="carousel-cell ">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="..." class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </carousel>
  </div>

