body{
	overflow-x:hidden;
}
.img-fluid{
  border: 2px solid black;
}
.col:nth-of-type(1){
  position: relative;
}
.col:nth-of-type(2){
  position: relative;
  right: 200px;
}
.nav-link{
  position: relative;
  left:80px;
}
article{
  border: 2px solid rgb(235, 235, 235);
  background-color:rgb(235, 235, 235);
  position: absolute;
  top: 200px;
  left: 18%;
  border-radius: 5px 5px 5px 5px;
	box-sizing: content-box;
	width: 1000px;
	height:1000px;
}
article header h5{
  text-align: center;
  color: blue;
  font-size: 33px;
}
