<div class="main container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-md-8 ">
      <h1 class="checkintitle">add room</h1>
    </div>
    <div class="col-md-8 ">
      <p style="text-align-last: center;">what are the charactrestics of the room/s?</p>
    </div>
  </div>

  <form class="checkin container">

    <div class="form-group col-lg-12 ">
      <label for="checkindate" class="date-label">Check-in Date</label>
      <input type="date" class="form-control" [(ngModel)]="checkin" [ngModelOptions]="{standalone: true}" id="checkindate" min="{{chImin}}">
      <span>{{checkin}}</span>
    </div>

    <div class="form-group col-lg-12">
      <label for="checkoutdate" class="date-label">Check-out Date</label>
      <input type="date" class="form-control" [(ngModel)]="checkout" [ngModelOptions]="{standalone: true}" id="checkoutdate" min="{{checkin}}">
    </div>


    <div class="col-10 col-sm-10 col-md-8 col-lg-4 col-xl-4 d-flex justify-content-end w-100">
      <button type="submit" class="btn btn-primary me-2" href="" (click)="RoomlistDisplay=true">Next</button>
    </div>
    <div *ngIf="RoomlistDisplay" >
       hahahah
    </div>
    <div class="col-10 col-sm-10 col-md-8 col-lg-4 col-xl-4 d-flex justify-content-end w-100">
      <button type="button" mat-button matStepperNext class="btn2 btn-primary2">Next</button>
    </div>
  </form>

</div>
